/* Navbar.css */
.navbar {
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid #ccc;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #005EB8;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
 .logo {
  width: 150px; 
  height: auto;
}

 .nav-text {
  color: #005EB8;
  font-family: "BrushUp", cursive;
  font-size: 23px;
  position: absolute;
  left: 180px;
}
  